.lessons-page {
  margin-top: 60px;

  header { margin-bottom: 40px; }

  .lessons {
    .lesson {
      background: white;
      margin-top: -1px;
      border: 1px solid #ddd;
      cursor: pointer;

      .title {
        font-size: 1.2rem;
        font-weight: 300;
        padding: 20px;
      }

      .content {
        display: none;
        padding: 0 20px 20px;
        border-left: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }
    }
  }
}
